/*------------ RESET ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- GENERAL ----------- */

@font-face {
    font-family: ggsans;
    src: url(../font/gg\ sans\ Medium.ttf);
}

@font-face {
    font-family: ggsans-bold;
    src: url(../font/gg\ sans\ Semibold.ttf);
}

body {
    font-family: 'ggsans';
}

p {
    line-height: 1.5em;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -2px;
}

.btn {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 15px 20px;
    margin: 10px;
}

/*------------ HEADER -----------*/
header {
    padding: 10px 0px;
    background-color: #3161E0;
}

.logo {
    padding-top: 10px;
}

ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

#login {
    padding: 10px 15px;
}

/*----------- DOWNLOAD SECTION -----------*/

h1 {
    font-family: 'ggsans-bold';
    font-size: 60px;
    padding-bottom: 50px;
}

p.white {
    padding-bottom: 50px;
}

#mac {
    margin-right: 5px;
    font-size: 20px;
}

/* ---------- DESCRIPTION SECTION ---------- */

h2 {
    font-family: 'ggsans-bold';
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
}

.col40.padding-top-30 {
    padding: 0px;
}